@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="mt-5">Employee Attendance Management System</h1>
    <h2>By<br />Navaneeth Krishnan S</h2>
@*     <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@</div>
